#Exclude all the things!
/*


#Add back the things that matter.
# Gradle stuff
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!build.properties
!settings.gradle

# Other Files.
!LICENSE.txt
!README.md
!name_textures.py

# Include git important files
!.gitmodules
!.gitignore
!.github/

# Include Important Folders
!src/
!libs/

# Exclude stuff under above inclusions
.cache
